/* Mobile Styling */
body {
  font-size: 30px;
  width: 100%;
  margin: 0 auto;
}

header {
  width: 100%;
  height: 73px;
  position: relative;
  outline: 1px solid black;
  background-color: lightblue;
}

main {
  width: 100%;
  background-color: lightblue;
}

footer {
  width: 100%;
  height: 78px;
  position: relative;
  outline: 1px solid black;
  background-color: lightblue;
}

/* Tablet Styling */
@media screen and (min-width: 700px) and (max-width: 1000) {

  header {
    height: 98px;
    background-color: aqua;
  }
  
  main {
    background-color: aqua;
  }
 
  footer {
    height: 148px;
    background-color: aqua;
  }
}


/* Desktop Styling */
@media screen and (min-width: 1000px) {

  header {
    height: 98px;
    background-color: lightpink;
  }
  
  main {
    background-color: lightpink;
    display: flex;
  }
 
  footer {
    height: 148px;
    background-color: lightpink;
  }
}