/* Mobile Styling */
p {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main nav {
  width: 478px;
  height: 148px;
  position: relative;
  border: 1px solid black;
}

main section:first-of-type {
  height: 250px
}

main section:first-of-type div {
  width: 478px;
  height: 123px;
  position: relative;
  border: 1px solid black;
}

main section:last-of-type {
  height: 500px
}

main section div {
  width: 238px;
  height: 248px;
  float: left;
  position: relative;
  border: 1px solid black;
}

/* Desktop Styling */
@media screen and (min-width: 768px) {
  main nav {
    width: 20%;
    /* max-width: 198px; */
    height: 598px;
    border: 1px solid black;
    background-color: lightgray;
  }
  
  main section:first-of-type {
    height: 200px;
    width: 100%;
  }

  main div:first-of-type {
    display: flex;
    /* align-content: stretch; */
    flex-wrap: wrap;
    width: 100%;
    /* max-width: 770px; */
  }
  
  main section:first-of-type div {
    width: 50%;
    max-width: 378px;
    height: 198px;
    border: 1px solid black;
  }
  
  main section:last-of-type {
    height: 250px;
    width: 100%;
  }
  
  main section div {
    width: 25%;
    max-width: 188px;
    height: 248px;
    border: 1px solid black;
  }
}